POSTGRES_USER=admin
POSTGRES_PASSWORD=admin
JWT_SECRET=troque-por-uma-chave-aleatoria-com-32-ou-mais-caracteres
DEMO_PASSWORD=dev123
APP_PROFILES=dev
PGADMIN_EMAIL=admin@oficina.com
PGADMIN_PASSWORD=admin
GRAFANA_PASSWORD=admin
SONAR_TOKEN=
