<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <include resource="org/springframework/boot/logging/logback/defaults.xml"/>
    <include resource="org/springframework/boot/logging/logback/console-appender.xml"/>

    <root level="INFO">
        <appender-ref ref="CONSOLE"/>
    </root>

    <springProfile name="loki">
        <springProperty name="LOKI_URL" source="app.logs.loki.url" defaultValue="http://loki:3100/loki/api/v1/push"/>
        <springProperty name="APP_NAME" source="spring.application.name" defaultValue="oficina-mecanica"/>

        <appender name="LOKI" class="com.github.loki4j.logback.Loki4jAppender">
            <http>
                <url>${LOKI_URL}</url>
            </http>
            <batch>
                <timeoutMs>2000</timeoutMs>
            </batch>
            <labels>
                app=${APP_NAME}
                level=%level
            </labels>
            <message class="ch.qos.logback.classic.PatternLayout">
                <pattern>%d{ISO8601} [%thread] %-5level %logger{36} - %msg%n%ex</pattern>
            </message>
        </appender>

        <root level="INFO">
            <appender-ref ref="LOKI"/>
        </root>
    </springProfile>
</configuration>
